body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
  width: 100%;
  height: 73vh;
  text-align: center;
  padding-top: 27vh;
  background-image: url("../images/headerBG.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
header h1, header h3, header nav a {
  color: white;
}
header h1 {
  text-decoration: underline;
}
header nav a {
  background-color: #ba3b94;
  border-radius: 10%;
  text-decoration: none;
  padding: 9px;
}
header nav a:hover {
  padding: 10px;
}

main {
  display: block;
  position: relative;
  width: 100%;
}
main article {
  position: relative;
  max-width: 50vw;
  height: 30vh;
  margin: 0 auto;
  margin-bottom: 15vh;
  margin-top: 15vh;
  text-align: center;
}

main article.about img {
  max-width: 45%;
  max-height: 45%;
  float: left;
  margin: 1em 1em 1em 0;
  border-radius: 50%
}
main article.about p {
  margin-top: 5%;
  text-align: justify;
}

main article.skills {
  clear:both;
  max-width: 100%;
  display: block;
  position: relative;
}
main article.skills section {
  display: inline-block;
  max-width: 15%;
  height: 100%;
  vertical-align: top;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

main article.contact{
  height: auto;
}

footer {
  position: relative;
  background-color: #26262e;
  width: 100%;
  text-align: center;
  color: white;
}
footer p {
  margin: 0;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 25px;
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 50px;
}

/* PHONE */
@media screen and (max-width: 600px)  {
  main article {
    position: relative;
    max-width: 95%;
    height: 30vh;
    margin: 0 auto;
    margin-bottom: 30vh;
    margin-top: 30vh;
  }
  main article.skills section {
    max-width: 80%;
  }
  main article.about img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  header {
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
